<h1>Your place for finding stuff you want, and dumping stuff you don't</h1>


<%= button_to 'Create a new classified!', new_classified_path, :id => "New", :method => :get %>
<%= button_to 'See our current classifieds', show_classified_path, :method => :get %>


<h4>© RubyBubble</h4>